ul.sidenav.dropable.sticky
  li
    a(href="index.html") Overview
  li
    a.active(href="#") Layouts
    ul
      li
        a(href="layout_boxed_left-sidebar.html") Boxed - Left sidebar
      li
        a(href="layout_boxed_right-sidebar.html") Boxed - Right sidebar
      li
        a(href="layout_boxed_no-sidebar.html") Boxed - No sidebar
      li
        a(href="layout_full_left-sidebar.html") Fullwidth - Left sidebar
      li
        a(href="layout_full_right-sidebar.html") Fullwidth - Right sidebar
      li
        a(href="layout_full_no-sidebar.html") Fullwidth - No sidebar
      li
        a(href="layout_single-page-1.html") Single page - Sample 1
      li
        a(href="layout_single-page-2.html") Single page - Sample 2
      li
        a(href="layout_single-page-3.html") Single page - Sample 3
      li
        a.active(href="layout_sidebar_boxed.html") Boxed sidebar
      li
        a(href="layout_skin.html") Skins


  li
    a(href="#") Components
    ul
      for elements, section in docs
        li
          a(href='./' + section.toLowerCase() + '.html') #{section}


  li
    a(href="#") Basic styling
    ul
      li
        a(href="css_typography.html") Typography
      li
        a(href="css_button.html") Buttons
      li
        a(href="css_label.html") Labels
      li
        a(href="css_table.html") Tables
      li
        a(href="css_alert.html") Alerts
      li
        a(href="css_icon.html") Icons
